.erro, .valido {
  background-repeat: no-repeat;
  background-position: right;
}

.erro {
  border-color: red;
  background-color: #fee;
  background-image: url("../img/fail.png");
}

.valido {
  border-color: #7fff7f;
  background-color: #efe;
  background-image: url("../img/success.png");
}